@import 'https://fonts.googleapis.com/css?family=Lato';
body {
font-family: 'Lato', sans-serif;
  color: white;
  background-image: url(http://www.desktopwallpaperhd.net/wallpapers/6/6/apple-backgrounds-inspired-wallpaper-desktop-computer-64534.jpg);
}

img {
 display: block;
 margin: auto;
}
p {
  text-align: center;
}
h2 {
  text-align: center;
}

ul {
background-color: #333;
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
}
li  {
  float: left;
}
li a:hover {
  transition: background 1s ease,
  padding 0.8s linear;
  background-color: slategray;
}
li a {
  display: inline;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
div {
  background-color: #516365;
}

h1 {

  position: relative;
  height: auto;
  left :50%;
  margin:0;
}
